
/* Asegúrate de resetear el margin y padding en el body */
body {
    margin: 0;
    padding: 0;
    background-color: #aef5ee;
    font-family: Arial, sans-serif;
}

/* Estilos para el encabezado */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2e8de9;
    color: #fff;
    padding: 10px 20px;
}

.header-content {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo {
    height: 60px; /* Tamaño uniforme para ambas imágenes */
    margin-right: 10px;
}

h2 {
    margin: 0;
    font-size: 1.5em;
    font-family: 'Playfair Display', serif; /* Fuente elegante */
    background-color: #0f90e5;
    text-align: center;
    color: white;
}

h1{
    text-align: center;
    font-family: 'Playfair Display', serif; /* Fuente elegante */
}

nav {
    background-color: #444;
    padding: 10px 0;
}

/* Estilo para los párrafos centrados con ancho máximo */
p {
    text-align: center; /* Centra el texto en el párrafo */
    max-width: 800px; /* Define un ancho máximo para los párrafos (ajusta según tus necesidades) */
    margin: 0 auto; /* Centra el párrafo en el contenedor, agregando márgenes automáticos a los lados */
    line-height: 1.6; /* Mejora la legibilidad al aumentar la altura de línea */
    padding: 0 10px; /* Opcional: agrega un poco de relleno a los lados para evitar que el texto esté demasiado cerca del borde */
}


/* Estilos para la barra de navegación */
ul {
    border-top: 2px solid white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e8de9;
    display: flex; /* Cambiado a flex para que el menú sea horizontal */
}

li {
    border-bottom: 2px solid white;
    float: none; /* Cambiado para que el menú sea horizontal */
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #1d71e6;
}

/* Otros estilos */
p {
    text-align: center;
}

.container {
    text-align: center;
}

.container img {
     display: inline-block; /* Opcional, para asegurarse de que la imagen no sea un bloque */ 

}
