<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Conteo de neonatos</title>
    <meta name="viewport" content="width=device-width, inicial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css" />
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo-container">
                <img src="../images/Fiaes.png" alt="Logo Fiaes" class="logo" />
                <img src="../images/QUELONIA.png" alt="Logo Quelonia" class="logo" width="100" />
            </div>
            <h2>Vívero Adescoet Tamarindo</h2>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/Recoleccion.html">Recolección de huevos</a></li>
                <li><a href="../views/Incubacion.html">Incubación</a></li>
                <li><a href="Conteo.html">Conteo de neonatos</a></li>
                <li><a href="../views/liberacion.html">Liberación de neonatos</a></li>
            </ul>
        </nav>
    </header>
    <main>


    </main>
    <footer>
    </footer>

</body>
</html>