<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Liberación de Neonatos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css" />
</head>
<body>
    <header>
        <!-- Barra de navegación -->
        <div class="header-content">
            <div class="logo-container">
                <img src="../images/Fiaes.png" alt="Logo Fiaes" class="logo" />
                <img src="../images/QUELONIA.png" alt="Logo Quelonia" class="logo" width="100" />
            </div>
            <h2>Vívero Adescoet Tamarindo</h2>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/Recoleccion.html">Recolección de huevos</a></li>
                <li><a href="../views/Incubacion.html">Incubación</a></li>
                <li><a href="../views/Conteo.html">Conteo de neonatos</a></li>
                <li><a href="Liberacion.html">Liberación de neonatos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <br />
        <div class="container">
            <div class="video-wrapper">
                <iframe
                    src="https://www.youtube.com/embed/VOkRtqUUpgU?si=bdQqJOuftT5VKOZ2"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                ></iframe>
            </div>
        </div>

        <p>
            Para el proceso de <b>liberación</b>, a pesar de que se pueden liberar luego de un día de nacidas
            se acumulan de unos 5 o 6 días para soltar varias de una vez.
        </p>

        <br />
        <div class="container">
            <img src="../images/Liberacion-1.jpg" alt="Imagen" height="700" width="725" />
        </div>
        <br />
        <p>
            Se toma a bien invitar personas a la liberación, en la anterior imagen podemos observar un grupo
            de estudiantes que fué invitado para realizar dicha actividad.
        </p>
        <br />
        <div class="container">
            <img src="../images/Liberacion-2.jpg" alt="Imagen" height="700" width="725" />
        </div>
        <br />
        <p>
            En esta actividad nos puede acompañar cualquier persona que tenga la voluntad de hacerlo,
            no hay restricciones , cualquiera puede acompañarnos en esta actividad, al liberar las tortuguitas
            estamos aportando al medio ambiente y este proceso se llama <i><b>"Apadrinar una tortuga"</b></i>
            ahora ya lo sabes, cuando alguien te diga: <i>yo apadriné una tortuga</i> ¡tu sabrás a que se refiere!
        </p>
        <br />
        <div class="container">
            <img src="../images/Liberacion-3.jpg" alt="Imagen" height="700" width="725" />
        </div>
        <br />

        <p>
            <i><b><u>Dato:</u> de 45,000 huevos recolectados en 2,023 solo se liberaron 38,000 tortuguitas</b></i>
        </p>

        <div class="container">
            <h2><i>Si te gustaría participar en la liberación de neonatos llena el siguiente formulario:</i></h2>
            <br />
            <br />
            <a href="views/formulario.html" class="button">Llenar Formulario</a>
        </div>

    </main>
    <footer>
        <br />
        <br />
        <h2>Información de contacto</h2>
        <br />
        <div class="container">
            <a href="https://www.facebook.com/profile.php?id=61551052635446&mibextid=ZbWKwL" target="_blank">
                <img src="../images/Facebook.png" alt="Facebook" class="facebook-icon" />
            </a>

            <a href="https://wa.me/+50374200922" target="_blank">
                <img src="../images/Whatsap.png" alt="whatsap" class="Whatsap-icon" />
            </a>
        </div>
    </footer>
</body>
</html>

